# Dependencies
/vendor/
/node_modules/

# Environnement
.env
.env.local
.env.production

# Cache
/app/cache/*
/var/cache/*
*.tmp

# Logs
*.log
/logs/

# Système
.DS_Store
.idea/
Thumbs.db

# Uploads (si applicable)
/uploads/
/public/uploads/
google-cloud-sdk/google-cloud-sdk/
backups/
doubbuild.yaml
google-cloud-sdk.zip
scripts/
google-cloud-sdk/
includes/upload_security.php
